.animal-card-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 300px;
    height: 300px;
    padding: 20px;
    background-color: rgb(197, 91, 162);
    border-radius: 4px;

}

.animal-card-wrapper > img {
    width: 50px;
  }